<template>
	<div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-12">
				<h1 class="bold center">CODING ACTIVITY</h1>
			</div>
		</div>
		<loading v-if="$root.loading"></loading>
		<router-view v-else></router-view>
	</div>
</template>