<template>
	<div>
		<div class="row mt-2">
			<div class="col-10">
				<span class="required">Notes for the examiner: I did not apply validations because it is not indicated in the exam's instruction. You need to fill up all the fields.</span>
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-warning" @click="goBackToIndex"><i class="fas fa-arrow-left"></i> Back to Index</button>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-8 form-inline">
				<label class="p-2 bold">Uniform Name <span class="required">*</span></label>
				<input type="text" class="form-control" v-model="uniform" placeholder="Uniform Name">
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 box" v-for="(uniform_part, up) in uniform_parts" :key="up">
				<h5>Uniform Parts</h5>
				<div class="row">
					<div class="col-4">
						<div class="row">
							<div class="col-12">
								<label class="bold">Part Name <span class="required">*</span></label>
								<input class="form-control" type="text" v-model="uniform_part.part_name" placeholder="Uniform Part Name">
							</div>
							<div class="col-12 mt-2">
								<label class="bold">Upload Image <span class="required">*</span></label>
								<input type="file" class="form-control" ref="file" @change="getImage(up)">
							</div>
							<div class="col-12 mt-2">
								<label class="bold">Perspective <span class="required">*</span></label>
								<multiselect 
                                    label="name" 
                                    track-by="name"
                                    placeholder="Select a Perspective"
                                    :options="perspectives" 
                                    v-model="uniform_part.perspective"  
                                    :searchable="true" 
                                    :loading="isLoading" 
                                    :max-height="200"
                                    @search-change="getPerspectives">
                                    <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                </multiselect>
							</div>
						</div>
					</div>
					<div class="offset-2 col-4">
						<label class="bold">Uniform Part Image Preview</label>
						<div class="box">
							<img :src="uniform_part.image_preview" class="img-fluid" :alt="uniform_part.name">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12">
				<button type="button" class="btn btn-primary p-2" @click="addUniformPart"><i class="fas fa-plus"></i> New Part</button>
				<br>
				<span class="required" v-if="add_limit == true">cannot add anymore uniform parts</span>
			</div>
		</div>
		<div class="row mt-2 mt-2 mb-2">
			<div class="col-12">
				<center><button type="button" class="btn btn-success p-2" @click="save"><i class="fas fa-save"></i> Save All Parts</button></center>
			</div>
		</div>
	</div>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    export default {
        name : 'Create',
        data: function() {
            return {
            	isLoading: false,
            	uniform: '',
            	uniform_parts: [{
            		part_name: '',
            		perspective: '',
            		image: '',
            		image_preview: '../images/placeholder.png'
            	}],
            	perspectives: [],
            	add_limit: false
            }
        },
        mounted()
        {
        	this.getPerspectives()
        },
        components:{
            Multiselect
        },
        methods: {
        	goBackToIndex(e){
        		this.$router.push({ name: 'index' });
        		e.preventDefault();
        	},
			getPerspectives(query){
				this.$globalAjaxJwtToken({ query: query }, 'POST', '/api/getPerspectives', this.getPerspectivesSuccess, this.error)
			},
			getPerspectivesSuccess(response){
				this.perspectives 	=	response
			},
			getImage(i){
				this.uniform_parts[i].image 			=	this.$refs.file[i].files[0].name
      			this.uniform_parts[i].image_preview 	= 	URL.createObjectURL(this.$refs.file[i].files[0]);
			},
			addUniformPart(e){
				if (this.uniform_parts.length <= 20) {
					this.uniform_parts.push({
						part_name: '',
	            		perspective: '',
	            		image: '',
	            		image_preview: '../images/placeholder.png'
					})
				}else{
					this.add_limit 	=	true
				}
				e.preventDefault()
			},
			save(e){
				var message 	=	'Are you sure you want to save these uniform parts?'
				let formData 	= 	new FormData();

				for (var i = this.$refs.file.length - 1; i >= 0; i--) {
                   	formData.append('file-'+i, this.$refs.file[i].files[0])
				}

            	formData.append('uniform_name', this.uniform)
            	formData.append('uniform_parts', JSON.stringify(this.uniform_parts))

				this.$sweetAlertAjaxToken(message, formData, 'POST', '/api/save', this.saveSuccess, this.error)	
				e.preventDefault()
			},
			saveSuccess(response){
				if (response == true) {
					this.uniform 				=	''
					this.uniform_parts			=	''
					this.uniform_parts 			=	[{
														part_name: '',
								            			perspective: '',
								            			image: '',
								            			image_preview: '../images/placeholder.png'
													}]
					this.$refs.file[0].value 	=	''
					this.add_limit 				=	false

					swal('Uniform has been saved!', {
	                    icon: "success",
	                })
				}else{
					swal("There is an error in saving, Please fill up all the fields and try again!", {
	                    icon: "error",
	                });
				}
			},
	        error(response) {
	            if (response.status == 500) {
	                swal("Internal Server Error (500), Please check your internet connection and try again!", {
	                    icon: "error",
	                });
	            }else if(response.status == 404){
	                swal("Internal Server Error (404), Please try again later!", {
	                    icon: "error",
	                });
	            }else if(response.status == 401){
	                swal("Internal Server Error (401), Please login your account!", {
	                    icon: "error",
	                });
	            }
	        },
        }
    }
</script>