<template>
	<div>
		<div class="row mt-2">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary" @click="createUniform"><i class="fas fa-plus"></i> Uniform</button>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-12 table-responsive">
				<table class="table table-sm table-bordered table-hoverable"> 
					<thead>
						<tr>
							<th>Uniform Name</th>
							<th>Parts</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(uniform, u) in uniforms" :key="u">
							<td>{{ uniform.name }}</td>
							<td>{{ uniform.count }}</td>
							<td><button type="button" class="btn btn-primary btn-sm" @click="readUniform(uniform.id, $event)"><i class="fas fa-eye"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        name : 'Index',
        data: function() {
            return {
				uniforms: []
            }
        },
        mounted()
        {
        	this.getUniforms()
        },
        methods: {
        	getUniforms(){
        		this.$globalAjaxGet('GET', '/api/getUniforms', this.getUniformsSuccess, this.error)
        	},
        	getUniformsSuccess(response){
        		this.uniforms 	=	response
        	},
	        error(response) {
	            if (response.status == 500) {
	                swal("Internal Server Error (500), Please check your internet connection and try again!", {
	                    icon: "error",
	                });
	            }else if(response.status == 404){
	                swal("Internal Server Error (404), Please try again later!", {
	                    icon: "error",
	                });
	            }else if(response.status == 401){
	                swal("Internal Server Error (401), Please login your account!", {
	                    icon: "error",
	                });
	            }
	        },
	        createUniform(e){
                this.$router.push({ name: 'create' });
				e.preventDefault()
	        },
	        readUniform(id, e){
	        	this.$router.push({ name: 'read', query: { uniform_id: id } })
	        	e.preventDefault()
	        }
        }
    }
</script>