<template>
	<div>
		<div class="row mt-2">
			<div class="col-12">
				<h3>{{ uniform.name }}</h3>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 box" v-for="(uniform_part, up) in uniform_parts" :key="up">
				<h5>Uniform Parts</h5>
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-12 form-inline">
								<label class="p-2">Part Name</label>
								<input class="form-control" type="text" v-model="uniform_part.part_name" disabled="disabled">
							</div>
							<div class="col-6 mt-2">
								<select class="form-control" disabled="disabled">
									<option :value="uniform_part.perspective" selected>{{ uniform_part.perspective }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-4">
						<img :src="uniform_part.image" class="img-fluid" :alt="uniform_part.name">
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2 mb-2">
			<div class="col-12">
				<center><button type="button" class="center btn btn-warning" @click="goBackToIndex"><i class="fas fa-arrow-left"></i> Back to Index</button></center>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        name : 'Read',
        data: function() {
            return {
            	uniform: '',
            	uniform_parts: []
            }
        },
        mounted()
        {
        	this.read()
        },
        methods: {
        	read(){
        		this.$globalAjaxJwtToken({ uniform_id: this.$route.query.uniform_id }, 'POST', '/api/read', this.readSuccess, this.error)
        	},
        	readSuccess(response){
    			this.uniform 		=	response.uniform
    			this.uniform_parts 	=	response.uniform_parts
        	},
        	goBackToIndex(e){
        		this.$router.push({ name: 'index' });
        		e.preventDefault();
        	},
	        error(response) {
	            if (response.status == 500) {
	                swal("Internal Server Error (500), Please check your internet connection and try again!", {
	                    icon: "error",
	                });
	            }else if(response.status == 404){
	                swal("Internal Server Error (404), Please try again later!", {
	                    icon: "error",
	                });
	            }else if(response.status == 401){
	                swal("Internal Server Error (401), Please login your account!", {
	                    icon: "error",
	                });
	            }
	        },
        }
    }
</script>